<div class="col s12">
  <div class="page-subtitle">
    <h4>Позиции:</h4>
    <button class="waves-effect waves-light btn grey darken-1 btn-small" (click)="openModal()">Добавить позицию</button>
  </div>
  <ng-container *ngIf="!isLoading; else loadingBlock">
    <div class="collection" *ngIf="positions?.length; else emptyBlock">
      <a
        *ngFor="let position of positions"
        class="collection-item collection-item-icon"
        (click)="onSelectPosition(position)"
      >
        <span>
          {{ position?.name }} <strong>{{ position?.cost }}</strong>
        </span>
        <span (click)="onDeletePosition(position)">
          <i class="material-icons">delete</i>
        </span>
      </a>
    </div>
  </ng-container>
</div>

<ng-template #emptyBlock>
  <div class="center">Позиции отсутствуют</div>
</ng-template>

<ng-template #loadingBlock>
  <app-loader></app-loader>
</ng-template>
<div class="modal" #modal>
  <app-add-position-modal
    [position]="selectedPosition"
    (formValueEmitter)="onPositionDataChanged($event)"
  ></app-add-position-modal>
</div>
