<div class="page-title">
  <h4>
    <a routerLink="../">Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{ isEditForm ? 'Редактировать категорию' : 'Добавить категорию' }}
  </h4>
  <span *ngIf="isEditForm">
    <button class="btn btn-small red" (click)="deleteCategory()">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<form [formGroup]="form" class="row" (ngSubmit)="onSubmit()">
  <div class="col s12 l6">
    <div class="input-field">
      <input
        id="name"
        type="text"
        formControlName="name"
        [disabled]="form.disabled"
        [ngClass]="{
          'ng-invalid': form.get('name')?.invalid && form.get('name')?.touched
        }"
      />
      <label for="name">Название</label>
      <span class="helper-text red-text" *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
        Имя не может быть пустым
      </span>
    </div>
    <app-upload [imageUrl]="imageUrl" [isFormDisabled]="form.disabled" (uploadImage)="updateImage($event)"></app-upload>

    <div class="text-left">
      <button class="waves-effect waves-light btn" type="submit" [disabled]="form.invalid || form.disabled">
        Сохранить изменения
      </button>
    </div>
  </div>
</form>
<div class="row">
  <app-positions *ngIf="form.value?.id" [categoryId]="form.value?.id"></app-positions>
</div>
