<div class="page-title">
  <h4>Категории</h4>
  <button class="waves-effect waves-light btn grey darken-1" [routerLink]="addCategoryLink">Добавить категорию</button>
</div>

<div class="row">
  <div class="col s12" *ngIf="categories$ | async as categories; else loadingBlock">
    <ng-container *ngIf="categories.length; else noDataBlock">
      <div class="collection">
        <a *ngFor="let category of categories" [routerLink]="[categoryLink, category.id]" class="collection-item">
          {{ category.name }}</a
        >
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loadingBlock>
  <app-loader></app-loader>
</ng-template>
<ng-template #noDataBlock> Нету данных </ng-template>
